{% extends 'base.html' %}
{% block content %}
<div class="container">


    <nav class="product-filter">

        <h1>Our Products</h1>

        <!-- <div class="sort">

            <div class="collection-sort">
                <label>Filter by:</label>
                <select>
                    <option value="/">All Jackets</option>
                </select>
            </div>

            <div class="collection-sort">
                <label>Sort by:</label>
                {% if category_lists %}
                {% for category in category_lists %}
                <select>
                    <option value="/">{{ category }}</option>
                </select>
                {% endfor %}
                {% endif %}

            </div>

        </div> -->

    </nav>
    <div class="row">

        {% for product in object_list %}
        <div class="col-md-3 col-sm-6">
            <div class="product-grid4">
              <div class="product-image4">
                <a href="">
                  <!-- <img src="{{ product.item_brand.brand_image.url }}" alt="{{ product.item_brand.brand_name }}" width="30px"> -->
  
                  <img class="pic-1" src="{{ product.item_image.url }}" alt="{{ product.item_name }}">
                </a>
                <!-- <span class="product-new-label">Recommended</span> -->
                <!-- <span class="product-discount-label">-10%</span> -->
              </div>
              <div class="product-content">
                <h3 class="title"><a href="#">{{ product.item_name }}</a></h3>
                <div class="price">
                  Kshs. {{product.item_price }}
                  <!-- <span>$16.00</span> -->
                </div>
                <a class="add-to-cart" href="{% url 'add-to-cart' product.slug %}">ADD TO CART</a>
              </div>
            </div>
          </div>
        {% endfor %}
    </div>

</div>
{% endblock%}