{%extends "registration/base.html"%}
{% load bootstrap3 %}
{% load static %}

{% block content %}
<style>
    ul {
        display: inline-block;
    }

    li {
        text-align: center;
        display: inline-block;
        margin-right: 10px;
        padding: 10px;
    }

    ul>li>a {
        text-decoration: none;
    }
</style>

<div class="container">

    <div class="row">
        <div class="col-md-6">
            <img src="/static/zoharilogo.jpg" alt="" height="500" width="550" style="">
        </div>
        <div class="col-md-6">
            {% if form.errors %}
            <p class="alert alert-danger">Some Information may be incorrect</p>
            {% endif %}


            <div class="card card-cascade  wider animated slideInDown">
                <div class="card-body card-body-cascade ">

                    <h5 class="card-header  white-text text-center py-4" style="
                    background: rgb(66,133,244);">
                        <strong>Sign In</strong>
                    </h5>
                    <form action="/accounts/login/" method="POST" style="color:#757575;">
                        {% csrf_token %}
                        {% bootstrap_form form %}

                        <div class="form-group">
                            <input type="submit" class="btn btn-outline-primary btn-rounded waves-effect text-center"
                                value="Log In" style="text-align:center;">
                        </div>
                        <input type="hidden" name="next" value="/">
                    </form>
                    <div class="panel panel-default text-center">
                        <hr>
                        <h4 class="text-center text-muted">Don't have an account?</h4>
                        <a href="/accounts/register" class="btn btn-primary btn-md text-center">Sign Up Here</a>

                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
</div>
<br>
<br>
<br>





{% endblock %}