{% load cart_total %}

<header class="main_menu home_menu">
  <div class="container-fluid">
    <div class="row align-items-center justify-content-center">
      <div class="col-lg-11">
        <nav class="navbar navbar-expand-lg navbar-light">
          <!-- <a class=" navbar-brand" href="index.html"> <img src="img/logo.png" alt="logo"> </a> -->

          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="menu_icon"><i class="fas fa-bars"></i></span>
          </button>
          <a class="navbar-brand" href="{% url 'landing_page' %}"> Zohari Suppliers </a>

          <div class="collapse navbar-collapse main-menu-item" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a class="nav-link" href="{% url 'product-list' %}">Shop</a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="{% url 'about' %}">About</a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="{% url 'contact' %}">Contact</a>
              </li>

              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="blog.html" id="navbarDropdown_1" role="button"
                  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Shop
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown_1">
                  <a class="dropdown-item" href="category.html"> shop category</a>
                  <a class="dropdown-item" href="single-product.html">product details</a>
                </div>
              </li>
              {% if user.is_authenticated %}

              <li class="nav-item">
                <a class="nav-link" href="/d">
                  Admin</a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="{% url 'profile' username=user %}">
                  Profile</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'cart-home' %}">
                  <i class="fa fa-shopping-cart"></i> Cart
                  <span class="badge badge-light">{{ request.user| cart_total }}</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/logout/">
                  Log Out</a>
              </li>
              {% else %}
              <li class="nav-item active">
                <a class="nav-link" href="accounts/login">
                  Login/Register
                </a>
              </li>
              {% endif %}
            </ul>
          </div>


          <div class="hearer_icon d-flex">
            
            <a id="search_1" href="#" onclick="toggle('search_input_box')"><i class="ti-search"></i></a>
          </div>
        </nav>
      </div>
    </div>
  </div>
  <div class="search_input" id="search_input_box" style="display: none;">
    <div class="container ">
      <form class="d-flex justify-content-between search-inner" action="{% url 'search_results' %}" method="get">
        <input type="text" class="form-control" id="search_input" placeholder="Search Here" name="q">
        <button type="submit" class="btn"></button>
        <span class="ti-close" id="close_search" title="Close Search" onclick="toggle('search_input_box')"></span>
      </form>
    </div>
  </div>
</header>
<script language="JavaScript">
  function toggle(id) {
    var state = document.getElementById(id).style.display;
    if (state == 'block') {
      document.getElementById(id).style.display = 'none';
    } else {
      document.getElementById(id).style.display = 'block';
    }
  } 
</script>