{% extends 'base.html' %}
{% block content %}

<div class="container my-5">
    <div class="my-5">
        <h2>Your Cart</h2>
    </div>
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Product Name</th>
                <th scope="col">Product Description</th>
                <th scope="col">Quantity</th>
                <th scope="col">Price</th>
                <th scope="col">Remove from Cart</th>
            </tr>
        </thead>
        <tbody>
            {% if carts %}
            {% for cart in carts %}
            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td><a href="/product/{{ cart.item.slug }}"> {{ cart.item.item_name }}</a></td>
                <td> {{ cart.item.item_description }}</td>
                <td>
                    <a class="mr-2" href="{% url 'decrease-cart' cart.item.slug %}"><span class="badge badge-light"><i
                                class="fas fa-minus"></i></span></a>
                    {{ cart.quantity }}
                    <a class="ml-2" href="{% url 'add-to-cart' cart.item.slug %}"><span class="badge badge-light"><i
                                class="fas fa-plus"></i></span></a>
                </td>
                <td>Kshs. {{ cart.get_total | floatformat:2 }}</td>
                <td><a href="{% url 'remove-cart' cart.item.slug %}"><span class="ti-close" ></span></a></td>
            </tr>
            {% endfor %}
            {% endif %}
    <tr>
      <th scope="row"></th>
      <td colspan="3"><strong>Total</strong></td>
      <td><strong>Kshs. {{ order.get_totals | floatformat:2 }}</strong></td>
    </tr>
    <tr>
      <th scope="row"></th>
      <td colspan="4" class="text-right ">
        <a href="{% url 'product-list' %}" class="btn btn-warning mr-4" >Continue Shopping</a>
            <button class="btn btn-success mr-4">Proceed To Checkout</button>
            </td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock%}